.b-main-tab {
	font-size: $main-font-size ;
	font-family: 'MontserratMedium';
	padding-bottom: 80px;

	&__wrap {
		margin: 0 auto;
		width: auto;
		padding: 15px 0 10px 30px;
		list-style: none;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		background-color: $main-color;

	}

	&__tab {
		margin-right: 30px;
	}

	&__link {
		text-decoration: none;
	}

	&__link:hover {
		color: $hover-link;
	}

	&__link:active {
		border-bottom: 2px solid $special-color;
		color: $active-link;
	}

	&__content {
		max-width: 320px;
		display: block;
		margin: 0 auto;
		text-align: left;
		list-style: none;
		font-size: 0;
		padding: 0 24px;

		@media (min-width: $screen-m) {
			max-width: 768px;
		}
	}

	&__item {
		max-width: 320px;

		@media (min-width: $screen-m) {
			max-width: 260px;
			}
	}

	&__book {
		width: auto;
		margin-bottom: 48px;

		&--book4,
		&--book5 ,
		&--book6 ,
		&--book7,
		&--book8 {
			display:none;

		@media (min-width: $screen-m) {
			display:block;
			}
		}
	}

	&__img-box{
		width: 260px;
		margin-bottom: 40px;
	}

	&__img {
		width: 100%;
	}

	&__name {
		width: auto;
		font-size: 24px;
		font-family: 'MontserratBold';
		margin:0 0 30px 0;
	}

	&__discr {
		font-size: $main-font-size;
		font-family: 'MontserratItalic';
		margin:0 0 25px 0;
	}

	&__price {
		font-size: $main-font-size;
		font-family: 'MontserratBold';
		margin: 0;
	}
}