// В этом файле должны быть стили для БЭМ-блока main-tab, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
.b-main-tab {
	font-size: $main-font-size ;
	font-family: 'MontserratMedium';
  padding-bottom: 80px;

		&__container {
			background-color: $main-color;
		}

		&__wrap {
		margin: 0 auto;
    width: auto;
  	padding: 15px 0 10px 30px;
  	list-style: none;
  	display: flex;
  	justify-content: space-between;
    overflow: hidden;

		}

		&__tab {
			margin-right: 30px;
		}

		&__link {
			text-decoration: none;
    }

    &__link:active {
      border-bottom: 2px solid $special-color;
    }
		&__content {
      max-width: 320px;
      margin: 0 auto;
      text-align: left;
      list-style: none;
      font-size: 0;
      padding: 0 24px;
      display: block;
		}

		&__item {
      max-width: 320px;
      display:flex;
      flex-direction:column;

      // @media (min-width: $screen-хs) {
      //   padding: 0 24px;
      //   flex-direction: column;
      //   flex-wrap: nowrap;
      // }
		}

		&__book {
      width: auto;
      margin-bottom: 48px;

      &--book4,
      &--book5 ,
      &--book6 ,
      &--book7,
      &--book8 {
        display:none;
      }
		}

		&__img-box{
			width: 220px;
      margin-bottom: 40px;
		}

		&__img {
			width: 100%;

		}

		&__name {
      width: auto;
			font-size: 24px;
			font-family: 'MontserratBold';
			margin:0 0 30px 0;
		}

		&__discr{
			font-size: $main-font-size;
			font-family: 'MontserratItalic';
			margin:0 0 25px 0;
		}

		&__price {
			font-size: $main-font-size;
			font-family: 'MontserratBold';
			margin: 0;
			// &--mod {
			// 	font-size: $main-font-size;
			// 	font-family: 'MontserratBold';
			// }
		}
}