mixin main-nav(selected)

  -
    var menu = {
      'Книги': '/books.html',
      'Рекомендации': '/recommendations.html',
      'Контакты': '/contact.html'
      };

  nav.main-nav
    .main-nav__wrap-menu
      .main-nav__menu
        a.main-nav__cart-container(href='#')
          img.main-nav__cart(src="../img/cart.svg")
        a.main-nav__call-container(href='#')
          img.main-nav__call(src="../img/phone.svg")
    .main-nav__list

    each val, key in menu
      a.main-nav__item(href= val, title= key)= key

        //- a(href= val, title= key, class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item main-nav__item--active' : 'main-nav__item')= key

        // li(class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item  main-nav__item--active' : 'main-nav__item')
        //   li(href=val, title=key)= key


