// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {
	display: inline-block;
	position:relative;
		&__wrap-menu {
			position: absolute;
			right: -40px;
		}

		&__list{
			display: inline-block;
			text-decoration:none;
			font-size: 14px;
			list-style: none;
			color: #000;
		}

		&__item {
			text-decoration: none;
			font-family:'MontserratBold';
			font-size: 25px;
			color:red;
		}
}
