mixin main-footer()
	section.b-main-footer
		.b-main-footer__wrap-logoarea
			a.b-main-footer__logo-box(href='#')
				img.b-main-footer__logo(src="../img/logo.png")
			span.b-main-footer__content с 9:00 до 19:00
		.b-main-footer__wrap-menu
			a.b-main-footer__contacts(href='/contacts.html') контакты
			.b-main-footer__menu
				a.b-main-footer__cart-container(href='#')
					img.b-main-footer__cart(src="../img/cart.svg")
				a.b-main-footer__call-container(href='#')
					img.b-main-footer__call(src="../img/phone.svg")
