// В этом файле должны быть стили для БЭМ-блока main-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-main-footer  {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: $screen-m) {
    max-width: 768px;
  }

  @media (min-width: $screen-хl) {
    max-width: 1200px;
  }

  &__content {
    display: block;
  }
  &__wrap-menu {

  }
  &__cart-container {
    display: none;
  }

  &__call-container {
    display: none;
  }

  &__contacts {
    text-decoration: none;
    font-family: 'MontserratBold';
    font-size: $secondary-font-size;
    color: #000000;
  }
}
