mixin pangination()
	ul.b-pages
		li.b-pages__number
			a.b-pages__link(href='#') 1
		li.b-pages__number
			a.b-pages__link(href='#') 2
		li.b-pages__number
			a.b-pages__link(href='#') 3
		li.b-pages__number
			a.b-pages__link(href='#') 4
		li.b-pages__number
			a.b-pages__link(href='#') 5
		li.b-pages__number
			a.b-pages__link(href='#') ...
		//- li.b-pages__number
		//- 	a.b-pages__link(href='#') 7
		//- li.b-pages__number
		//- 	a.b-pages__link(href='#') 8
		//- li.b-pages__number
		//- 	a.b-pages__link(href='#') 9
		li.b-pages__number
			a.b-pages__link(href='#') 10
