// В этом файле должны быть стили для БЭМ-блока pangination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-pages {
	max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 156px;
		&__number {
			list-style: none;
			display: inline-block;
		}

		&__link {
			text-decoration: none;
			color:#000000;
			font-size: $main-font-size;
			font-family: 'MontserratBold';
		}
}
