mixin price-block()
  .price-block
    h2.price-block__title Книга в подарок
    p.price-block__text При вашем новом заказе мы подарим вам книгу
    .price-block__book
      .price-block__img-box
        img.price-block__img(src="../img/tab-img2.png", alt="image1")
        p.price-block__name Путеводитель по лжи
        p.price-block__discr Критическое мышление в эпоху постправды

    //- a.price-block__text(href='#') Все новинки
    //- .price-block__wrapper
    //-   .price-block__book
    //-     .price-block__img-box
    //-       img.price-block__img(src="../img/tab-img1.png", alt="image1")
    //-     p.price-block__name Латеральная логика
    //-     p.price-block__discr Головоломный путь к нестандартному решению
      .price-block__book
        .price-block__img-box
          img.price-block__img(src="../img/tab-img3.png", alt="image1")
        p.price-block__name Дао физики
        p.price-block__discr Исследование параллелей между современной физикой и восточной философией
