mixin contacts-promo()
  .contact-promo
    .contact-promo__bg
    span.contact-promo__line
      img.contact-promo__line-img(src='../img/line.png')
    .contact-promo__wrap
      p.contact-promo__text Мы открыли для вас уютную библиотеку
      p.contact-promo__address Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00

