mixin main-contacts()
  .main-contacts
    h2.main-contacts__title Контакты
    ul.main-contacts__list
      li.main-contacts__item Набережная реки фонтанки, 202
      li.main-contacts__item С 9:00 до 19:00 ежедневно
      li.main-contacts__item +7 (911) 123 45 67
  picture
    source(type='image/webp' srcset='../img/contact-map.webp 1x,../img/2x-contact-map.webp 2x ')
    .main-contacts__img-box
      img.main-contacts__img(src='../img/contact-map.jpg')


