mixin main-contacts()
  .main-contacts
    h2.main-contacts__title Контакты
    ul.main-contacts__list
      li.main-contacts__item Набережная реки фонтанки, 202
      li.main-contacts__item С 9:00 до 19:00 ежедневно
      li.main-contacts__item +7 (911) 123 45 67
  .main-contacts__img-box



