// В этом файле должны быть стили для БЭМ-блока main-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-contacts {
  min-width: 320px;
  margin: 0 auto;
  background-color: $bg-color;
  padding: 0 30px 46px 30px;

  @media (min-width: $screen-m) {
      max-width: 768px;
    }

  &__title {
    font-family: 'MontserratBold';
    font-size: 50px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 47px;
  }

  &__list {
    font-family: 'MontserratMedium';
    font-size: $main-font-size;
    margin: 0;
    padding: 0 0 0 21px;
    color: #000000;
    list-style: none;

    @media only screen and (min-width: $screen-m) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: 28px;
    position: relative;

    @media only screen and (min-width: $screen-m) {
      width: 340px;
    }
  }

  &__item:nth-last-child(1) {
    margin-bottom: 0;
  }

  &__item::before {
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #020efb;
    border-radius: 50%;
    top: 6px;
    left: -18px;
  }

  &__img-box {
    width: auto;
    height: auto;
    margin-bottom: 48px;
    background-image: url(../img/map-360.webp);
    background-size: 243%;
    background-repeat: no-repeat;
    background-position: 59% 51%;

    @media (min-width: $screen-m) {
      height: 350px;
      background-image: url(../img/map-700.webp);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
