mixin info-delivery()
	.b-delivery
		span.b-delivery__line
		h2.b-delivery__title Доставим в любое место
		p.b-delivery__text //ну почти в любое
		.b-delivery__content
			.b-delivery__img-box
					img.b-delivery__img(src='img/book.svg')
			p.b-delivery__discr Покупаете книги на сайте в любимом формате — бумажные, электронные или аудио.
		.b-delivery__content
			.b-delivery__img-box
					img.b-delivery__img(src='img/box.svg')
			p.b-delivery__discr Бесплатно доставляем заказы от 3 000  по всей России.
		.b-delivery__content
			.b-delivery__img-box
					img.b-delivery__img(src='img/delivercar.svg')
			p.b-delivery__discr Мы подарим вам «Набор читателя» и добавим в посылку.
		.b-delivery__content
			.b-delivery__img-box
					img.b-delivery__img(src='img/location.svg')
			p.b-delivery__discr Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу — бесплатно.

