// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-slider {
		position: relative;
		background-color: $bg-color;
		padding-bottom: 110px;

	//&__navy {
	//	position: absolute;
	//	width:32px;

	//  &--prev-slide {
	//    display: block;
	//    background-image: url(../img/arrow-left.svg);
	//    top: 53%;
	//    left: 43px;
	//    width: 100%;
	//    border-radius:50%;
	//    background-color:#f5aab7;
	//    z-index: 10;
	//  }

	//  &--next-slide{
	//    position: absolute;
	//    top: 53%;
	//    right: 43px;
	//    width: 100%;
	//  }
	// }
	&__wrap {
		padding-top: 35px;
		display: block;
	}

	&__item {
			padding: 0;
			display: block;
	}

	&__text	{
		width: 80%;
		font-size: $secondary-font-size;
		color: #000;
		margin: 0;
		font-family: 'MontserratItalic';
		font-weight: 500;
		margin-bottom: 28px;
		padding: 0 0 30px 30px;
		display: block;
		margin: 0;
		text-align: left;
	}

	&__border {
<<<<<<< HEAD
		width: auto;
=======
		display: block;
>>>>>>> add-adaptive-img
		border: 10px solid $main-color;
		padding: 15px 10px 28px 10px;
		margin: 0 10px 0;
		text-align: left;
	}

	&__discr {
		font-size: 24px;
		color: #000;
		margin: 0;
		font-family: 'MontserratBold';
		margin-bottom: 40px;
		line-height: 1.1;
	}

	&__more-info {
		font-size: $main-font-size;
		text-decoration: none;
		font-family: 'MontserratMedium';
		padding-bottom: 28px;
	}

<<<<<<< HEAD
	&__item-img {
		display: none;
		width: auto;
		padding: 0;
=======
	&__item-img{
		width: 302px;
		display: inline-block !important;
>>>>>>> add-adaptive-img
		vertical-align: middle;
		font-family: 'MontserratMedium';

	}

	&__img {
		width: 100%;

	}
}
