mixin main-slider()
	section.main-slider
		.main-slider__list
			//- 1st slide
			.main-slider__item
				.main-slider__content
					p.main-slider__text Новое поступление книги "Симпсоны и их математические секреты"
					.main-slider__border
						p.main-slider__discr Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.
						a.main-slider__more-info(href='javascript:void(0)') Хочу узнать о книге больше
				.main-slider__img-box
					img.main-slider__img(src="img/simpsons-book.webp" , alt="simpsons-book")
			//- 2st slide
			.main-slider__item
				.main-slider__content
					p.main-slider__text Новое поступление книги "Симпсоны и их математические секреты"
					.main-slider__border
						p.main-slider__discr Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.
						a.main-slider__more-info(href='javascript:void(0)') Хочу узнать о книге больше
				.main-slider__img-box
					img.main-slider__img(src="img/simpsons-book.webp" , alt="simpsons-book")
			//- 3st slide
			.main-slider__item
				.main-slider__content
					p.main-slider__text Новое поступление книги "Симпсоны и их математические секреты"
					.main-slider__border
						p.main-slider__discr Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.
						a.main-slider__more-info(href='javascript:void(0)') Хочу узнать о книге больше
				.main-slider__img-box
					img.main-slider__img(src="img/simpsons-book.webp" , alt="simpsons-book")
		.main-slider__arrow-right
			img.main-slider__arrow-img(src="img/arrow-right.svg", alt="arrow-right")
		.main-slider__arrow-left
			img.main-slider__arrow-img(src="img/arrow-left.svg", alt="arrow-left")
