mixin main-slider()
	section.b-slider.b-container
		//- start:slider`s arrows
		//- .b-slider__navy
		//- 	a.b-slider__navy--next-slide(href='javascript:void(0)')
		//- 	a.b-slider__navy--prev-slide(href='javascript:void(0)')
		//- end:slider`s arrows
		.b-slider__list
			.b-slider__wrap
				.b-slider__item
					p.b-slider__text Новое поступление книги "Симпсоны и их математические секреты"
					.b-slider__border
						p.b-slider__discr Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.
						a.b-slider__more-info(href='javascript:void(0)') Хочу узнать о книге больше
				.b-slider__item-img
					img.b-slider__img(src='img/slider.webp', alt='simpsons-book')


