mixin b-header-page()
	header.b-header-page.b-container
		.b-header-page__wrap-logoarea
			a.b-header-page__logo-box(href='#')
				img.b-header-page__logo(src="../img/logo.png")
			span.b-header-page__content с 9:00 до 19:00
		//- .b-header-page__wrap-menu
		//- 	.b-header-page__menu
		//- 		a.b-header-page__cart-container(href='#')
		//- 			img.b-header-page__cart(src="../img/cart.svg")
		//- 		a.b-header-page__call-container(href='#')
		//- 			img.b-header-page__call(src="../img/phone.svg")
