
.b-header-page {
	display: flex;
	justify-content: space-between;

		@media (min-width: $screen-m) {
			max-width: 768px;
		}

		@media (min-width: $screen-хl) {
			max-width: 1200px;
		}

	&__wrap-logoarea    {
		display:    inline-block;
	}

	&__logo-box {
		display:    inline-block;
		width:  123px;
	}

	&__logo {
		width:  100%;
	}

	&__content  {
		display: none;
		font-size: 14px;
		color: $small-txt;
	}
}

