//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header-page/header-page.pug
include blocks/main-footer/main-footer.pug
include blocks/main-slider/main-slider.pug
include blocks/main-tab/main-tab.pug
include blocks/pangination/pangination.pug
include blocks/info-delivery/info-delivery.pug
include blocks/our-newsbook/our-newsbook.pug
include blocks/main-contacts/main-contacts.pug
include blocks/contacts-form/contacts-form.pug
include blocks/contacts-promo/contacts-promo.pug
