extends templates/main-layout.pug

block meta
		title Home
		meta(name='description', content='Home page!')

block nav
		-var selected = 'Рекомендации';
		+main-nav(selected)
		//- block append page-bottom
		//-   script(src='some.js')
block content
	h2.recommendations-title Наши рекомендации
	.recommendations-wrapper
		+main-recomend()
		+price-block()
	.main-recomend__promo
			+contacts-promo()