* {
	box-sizing: border-box;
}

.b-container {
	margin: 0 auto;
	max-width: 1160px;
}

body {
	margin: 0;
	font-family: 'Montserrat';
}

.wrapper {
    display: flex;
    background-color: $bg-color;
}