$small-txt:            #969696;
$decor-color:          #e8e8e8;

$font-family:					-apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$main-font-size: 			16px;
$secondary-font-size: 14px;
$bg-color:						#f5f5f5;
$border-color:				#e8e8e8;

$screen-хs:           320px;
// $screen-s:           480px;
$screen-m:           768px;
// $screen-l:           992px;
// $screen-хl:           1200px;
// $screen-xхl:           1920px;
