mixin main-recomend()
	.main-recomend
		h2.main-recomend__title Наши рекомендации
		.main-recomend__mainblock
			a.main-recomend__item.main-recomend__1(href='#') 1
			a.main-recomend__item.main-recomend__2(href='#') 2
			a.main-recomend__item.main-recomend__3(href='#') 3
			a.main-recomend__item.main-recomend__4(href='#') 4
			a.main-recomend__item.main-recomend__5(href='#') 5
			a.main-recomend__item.main-recomend__6(href='#') 6
		.main-recomend__promo
			+contacts-promo()

